* {
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

.main-header-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 3px 5px rgb(129, 126, 126);
}
.main-header-container .main-header-sign-container {
  height: 90px;
  flex-basis: 15%;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-container .main-header-sign-container img {
  position: absolute;
  height: 90px;
}
.main-header-container .main-header-sign-container a {
  text-decoration: none;
  color: #080808;
  transition: all 0.3s;
  z-index: 5;
}
.main-header-container .main-header-sign-container a:hover {
  color: pink;
}

.social-links {
  display: flex;
  flex-basis: 15%;
  align-items: center;
}
.social-links .social-link {
  font-size: 30px;
  color: grey;
  transition: all 0.3s;
  margin: 0 20px;
}
.social-links .social-link:hover {
  color: #1b1b1b;
}

@media (max-width: 576px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 100%;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .main-header-container .main-header-sign-container {
    flex-basis: 20%;
    text-align: center;
  }
}
@media (min-width: 993px) {
  .main-header-container .main-header-sign-container {
    text-align: center;
  }
}
nav {
  flex-basis: 70%;
}
nav ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
nav ul .nav-item {
  display: inline-block;
  padding: 30px;
}
nav ul .nav-item a {
  color: #9C9C9C;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.3s;
  text-decoration: none;
}
nav ul .nav-item a:hover {
  color: pink;
}

@media (max-width: 400px) {
  .main-header-container nav {
    flex-basis: 60%;
  }
  .main-header-container .nav-item {
    padding: 5px;
  }
  .main-header-container .nav-item a {
    font-size: 18px;
  }
  .main-header-container .social-link {
    font-size: 21px;
    flex-basis: 20%;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .main-header-container nav {
    flex-basis: 70%;
  }
  .main-header-container .nav-item {
    padding: 5px;
  }
  .main-header-container .social-links {
    flex-basis: 20%;
  }
  .main-header-container .social-links .social-link {
    font-size: 21px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .main-header-container nav {
    flex-basis: 58%;
  }
  .main-header-container nav .nav-item {
    padding: 15px;
  }
  .main-header-container .social-links {
    flex-basis: 20%;
  }
  .main-header-container .social-links .social-link {
    font-size: 25px;
    margin: 0 15px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .main-header-container nav {
    flex-basis: 58%;
  }
  .main-header-container nav .nav-item {
    padding: 25px;
  }
}
.main-section .top-container .top-ewa, .main-section .top-container .top-galeria {
  margin: 30px;
  text-shadow: 0px 5px rgb(53, 53, 53);
  text-align: center;
  color: #AA2C18;
  font-family: "Jura", sans-serif;
  letter-spacing: 5px;
}

.main-section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/gwiazda-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transition: opacity 1s;
}
.main-section.switch-main-off {
  display: none;
}
.main-section .top-container {
  background-color: rgba(186, 184, 184, 0.5294117647);
  top: 140px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-section .top-container .top-galeria {
  font-size: 40px;
  font-weight: 700;
}
.main-section .top-container .top-ewa {
  font-size: 32px;
  font-weight: 300;
}
.main-section .bottom-container {
  position: relative;
  top: 310px;
  margin-left: 250px;
}
.main-section .bottom-container p {
  padding-bottom: 5px;
}
.main-section .bottom-container a {
  padding: 10px;
  transition: all 0.3s;
  font-family: "Cinzel", serif;
  font-size: 22px;
  color: aliceblue;
  text-decoration: none;
}
.main-section .bottom-container a:hover {
  color: pink;
}

@media (max-width: 400px) {
  .main-section {
    background-position: center;
  }
  .main-section .top-container {
    top: 200px;
  }
  .main-section .top-container .top-galeria {
    font-size: 32px;
    margin: 10px;
  }
  .main-section .top-container .top-ewa {
    font-size: 26px;
    margin: 10px;
  }
  .main-section .bottom-container {
    margin-left: 70px;
    top: 270px;
  }
  .main-section .bottom-container p {
    padding: 5px;
  }
  .main-section .bottom-container p a {
    font-size: 18px;
    padding: 0;
  }
}
.olejne {
  height: 100vh;
  width: 100%;
  background-image: url("../img/olejne.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  transition: opacity 1s;
  opacity: 0;
}
.olejne.switch-olejne-on {
  display: block;
  opacity: 1;
}
.olejne .olejne-container {
  height: 50px;
  color: rgb(194, 24, 24);
  background-color: rgba(255, 255, 255, 0.8196078431);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  top: 130px;
}
.olejne .olejne-container header {
  height: 50px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.olejne .olejne-container header .olejne-text {
  margin-left: 250px;
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: #FF7D69;
}
.olejne .btn-abstrakcje-olejne {
  flex-basis: 100%;
}
.olejne .btn-abstrakcje-olejne button {
  margin: 100px 0 50px 250px;
}
.olejne .btn-naturalistyczne {
  flex-basis: 100%;
}
.olejne .btn-naturalistyczne button {
  margin: 50px 0 0 250px;
}

@media (max-width: 490px) {
  .olejne .olejne-container {
    top: 210px;
  }
  .olejne .olejne-container header {
    justify-content: center;
  }
  .olejne .olejne-container header .olejne-text {
    margin: 0;
  }
  .olejne .btn-abstrakcje-olejne,
  .olejne .btn-naturalistyczne {
    display: flex;
    justify-content: center;
  }
  .olejne .btn-abstrakcje-olejne button,
  .olejne .btn-naturalistyczne button {
    margin: 50px;
  }
}
@media (min-width: 491px) and (max-width: 992px) {
  .olejne .olejne-container {
    top: 180px;
    justify-content: center;
  }
  .olejne .olejne-container .olejne-text {
    margin: 0;
  }
  .olejne .btn-abstrakcje-olejne {
    top: 290px;
    left: 85px;
  }
  .olejne .btn-naturalistyczne {
    top: 450px;
    left: -150px;
  }
}
.contact .contact-container .picture, .szkice .szkice-container .szkice-picture .picture {
  border: 8px double rgb(242, 239, 239);
  box-shadow: 0 0 10px rgb(150, 150, 150);
  transition: opacity 0.5s;
}
.contact .contact-container .picture:hover, .szkice .szkice-container .szkice-picture .picture:hover {
  opacity: 0.5;
}

.szkice {
  position: absolute;
  display: none;
  opacity: 0;
}
.szkice.switch-szkice-on {
  display: block;
  opacity: 1;
}
.szkice .img-horizontal {
  width: 650px;
}
.szkice .img-vertical {
  width: 450px;
}
.szkice .szkice-text-2, .szkice .szkice-text-1 {
  text-align: center;
  padding: 5px;
  font-family: "Cinzel", serif;
  font-size: 16px;
}
.szkice .szkice-text-1 {
  font-weight: 600;
}
.szkice .szkice-text-2 {
  font-weight: 400;
  margin-bottom: 20px;
}
.szkice .szkice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 130px;
}
.szkice .szkice-container header {
  flex-basis: 80%;
}
.szkice .szkice-container header p {
  font-family: "Cinzel", serif;
  color: #FF7D69;
  font-size: 20px;
  padding-bottom: 10px;
}
@media (max-width: 440px) {
  .szkice .szkice-container {
    margin-top: 180px;
  }
  .szkice .szkice-container header p {
    text-align: center;
  }
  .szkice .img-horizontal {
    width: 300px;
  }
  .szkice .img-vertical {
    width: 300px;
  }
}
@media (min-width: 441px) and (max-width: 992px) {
  .szkice .szkice-container {
    margin-top: 180px;
  }
  .szkice .szkice-container .img-horizontal {
    width: 450px;
  }
  .szkice .szkice-container .img-vertical {
    width: 450px;
  }
}
.akrylowe .btn-abstrakcje, .akrylowe .btn-mandale, .olejne .btn-abstrakcje-olejne button, .olejne .btn-naturalistyczne button {
  background-color: white;
  color: green;
  height: 120px;
  width: 230px;
  position: relative;
  transition: all 0.3s;
  font-family: "Cinzel", serif;
  font-size: 22px;
  transition: all 0.3s;
}
.akrylowe .btn-abstrakcje:hover, .akrylowe .btn-mandale:hover, .olejne .btn-abstrakcje-olejne button:hover, .olejne .btn-naturalistyczne button:hover {
  background-color: #8FC9D9;
}
.akrylowe .btn-abstrakcje:hover a, .akrylowe .btn-mandale:hover a, .olejne .btn-abstrakcje-olejne button:hover a, .olejne .btn-naturalistyczne button:hover a {
  color: white;
}
.akrylowe .btn-abstrakcje a, .akrylowe .btn-mandale a, .olejne .btn-abstrakcje-olejne button a, .olejne .btn-naturalistyczne button a {
  text-decoration: none;
}

.akrylowe {
  height: 100vh;
  width: 100%;
  background-image: url("../img/mandala.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  transition: opacity 1s;
  opacity: 0;
}
.akrylowe.switch-akrylowe-on {
  display: block;
  opacity: 1;
}
.akrylowe .akrylowe-container {
  height: 50px;
  color: rgb(194, 24, 24);
  background-color: rgba(255, 255, 255, 0.8196078431);
  position: relative;
  display: flex;
  align-items: center;
  top: 130px;
}
.akrylowe .akrylowe-container .akrylowe-text {
  margin-left: 250px;
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: #FF7D69;
}
.akrylowe .btn-mandale {
  top: 180px;
  left: 250px;
}
.akrylowe .btn-abstrakcje {
  top: 350px;
  left: 15px;
}

@media (max-width: 400px) {
  .akrylowe .akrylowe-container {
    top: 210px;
    justify-content: center;
  }
  .akrylowe .akrylowe-container .akrylowe-text {
    margin: 0;
  }
  .akrylowe .btn-mandale {
    top: 290px;
    left: 85px;
  }
  .akrylowe .btn-abstrakcje {
    top: 350px;
    left: 85px;
  }
}
.contact {
  display: none;
  opacity: 0;
}
.contact header {
  font-family: "Cinzel", serif;
  color: #48656D;
  font-size: 24px;
}
.contact header p {
  position: relative;
  margin-bottom: 20px;
  left: 490px;
}
.contact .contact-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 150px;
  left: 250px;
}
.contact .contact-container .picture {
  width: 450px;
  pointer-events: none;
}
.contact .contact-container .contact-text {
  width: 45%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.contact .contact-container .contact-text p {
  padding: 11px;
  margin-left: 30px;
  text-transform: none;
  color: #4A4A4A;
}
.contact .contact-container address {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 17px;
  position: relative;
  top: 50px;
}
.contact .contact-container address p {
  padding: 10px;
  margin-left: 30px;
  text-transform: none;
  color: #AA2C18;
}
.contact .contact-sign {
  flex-basis: 100%;
  height: 60px;
}
.contact .contact-sign img {
  width: 200px;
  position: relative;
  top: 20px;
  left: 480px;
}
.contact .img-vertical {
  width: 435px;
}
.contact.switch-contact-on {
  display: block;
  opacity: 1;
}

@media (max-width: 992px) {
  .contact .contact-container {
    top: 180px;
    left: 5px;
    justify-content: center;
  }
  .contact .contact-container header {
    flex-basis: 85%;
  }
  .contact .contact-container header p {
    position: initial;
    text-align: center;
  }
  .contact .contact-container .picture {
    width: 315px;
  }
  .contact .contact-container .contact-text {
    width: 85%;
  }
  .contact .contact-container .contact-sign {
    flex-basis: 85%;
    text-align: center;
  }
  .contact .contact-container .contact-sign img {
    position: initial;
  }
  .contact .contact-container address {
    top: 10px;
    text-align: center;
  }
  .contact .contact-container address p {
    margin: 0;
  }
  .contact .img-vertical {
    width: 300px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .contact .contact-container {
    left: 35px;
  }
  .contact .contact-container header {
    flex-basis: 100%;
  }
  .contact .contact-container .contact-text p {
    padding: 5px;
  }
}
@media (min-width: 1201px) {
  .contact header {
    flex-basis: 100%;
  }
  .contact .contact-sign img {
    left: 550px;
  }
  .contact .contact-container .picture {
    width: 515px;
  }
  .contact .contact-container .picture .img-vertical {
    width: 500px;
  }
}
footer {
  background-color: rgba(186, 184, 184, 0.5294117647);
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 50px;
  width: 100%;
}
footer .footer-text {
  margin-left: 250px;
  font-family: "Jura", sans-serif;
  color: #FFFFFF;
}

@media (max-width: 400px) {
  footer .footer-text {
    margin-left: 70px;
  }
}/*# sourceMappingURL=style.css.map */