$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Jura', sans-serif;
$third-font: 'Cinzel', serif;

$secondary-font-color: #FF7D69;

$main-header-hover-color: pink;
$main-section-hover-color: pink;