$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Jura', sans-serif;
$third-font: 'Cinzel', serif;
$fourth-font: 'Rubik', sans-serif;

$secondary-font-color: #AA2C18;

$main-header-hover-color: pink;
$main-section-hover-color: pink;