%btn-main {
    background-color: white;
    color: green;
    height: 120px;
    width: 220px;
    position: relative;
    transition: all 0.3s;
}

.akrylowe {
    height: 762px;
    width: 100%;
    background-image: url('../img/mandala.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .akrylowe-container {
        height: 50px;
        color: rgb(194 24 24);
        background-color: #ffffffd1;
        position: relative;
        display: flex;
        align-items: center;
        top: 130px;

        .akrylowe-text {
            margin-left: 250px;
        }
    }

    .btn-mandale {
        @extend %btn-main;
        top: 180px;
        left: 250px;
    }
    
    .btn-abstrakcje {
        @extend %btn-main;
        top: 350px;
        left: 25px;
    }

    a {
        text-decoration: none;
    
        &:hover {
            color: aquamarine;
        }
    }
}

@media (max-width: 400px) {
    .akrylowe-container {
        top: 210px;
    }

    .btn-mandale {
        top: 290px;
        left: 85px;
    }
    
    .btn-abstrakcje {
        top: 350px;
        left: 85px;
    }

    .akrylowe-text {
        margin-left: 70px;
    }
} 



