.contact {
    display: none;
    transition: opacity 1s;
    opacity: 0;

    &.switch-contact-on {
        display: block;
    }

    &.switch-contact-opacity {
        opacity: 1;
    }

   .contact-container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        top: 150px;

        .contact-header {
            flex-basis: 100%;
            font-family: $third-font;
            color: #48656D;
            font-size: 24px;
    
            p {
                position: relative;
                margin-bottom: 20px;
            }
        }
   
       .picture {
           @extend %frame;
           pointer-events: none;
        }

        .contact-text {
            flex-basis: 40%;
            font-family: $fourth-font;
            font-weight: 300;
            font-size: 16px;

            p {
                padding: 11px;
                margin-left: 30px;
                text-transform: none;
                color: #4A4A4A;
            }
        }

        address {
            font-family: $fourth-font;
            font-weight: 700;
            font-size: 17px;
            position: relative;
            flex-basis: 40%;
            top: 65px;
            right: -25px;

            p {
                padding: 10px;
                margin-left: 30px;
                text-transform: none;
                color: #AA2C18;
            }
        }
   }

    .contact-sign {
        flex-basis: 100%;
        height: 60px;

        img {
            width: 200px;
            position: relative;
            top: 20px;
            left: 480px;
        }
    }

   .img-vertical {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .contact {

        .contact-container {

            .contact-header {
            
                p {
                    text-align: center;
                }
            }

            .contact-text {
                flex-basis: 60%;
            }

            .contact-sign {
                height: 80px;
                text-align: center;
            }
    
            address {
                position: initial;
                text-align: center;

                p {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .contact {

        .contact-container {

            .contact-header {
            
                p {
                    left: 420px;
                }
            }

            .contact-text {
                font-size: 12px;
    
                p {
                    padding: 6px;
                }
            }
        }

        .contact-sign {
            
            img {
                left: 400px;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .contact {

        .contact-container {

            .contact-header {
            
                p {
                    left: 430px;
                }
            }

            .contact-text {
                font-size: 14px;
    
                p {
                    padding: 4px;
                }
            }
        }
        
        .contact-sign {
            
            img {
                left: 420px;
            }
        }
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .contact {

        .contact-container {
     
            .contact-header {
                
                p {
                    left: 480px;
                }
            }
        }
    }
}

@media (min-width: 1201px) {
    .contact {     

        .contact-header {
                
            p {
                left: 675px;
            }
        }

        .contact-sign img {
            left: 675px;
        }
        
        .contact-container {

            .picture {
                width: 385px;
    
                .img-vertical {
                    width: 370px;
                }
            }
        }
    }
}


@media print {

    html, body {
        width: 210mm;
        height: 297mm;
      }

    .contact {
        
        .contact-container {
            // top: 140px;
            left: 150px;
            // justify-content: center;

            .contact-header {
                // flex-basis: 100%;

                p {
                    left: 430px;
                }
            }

            .picture {
                flex-basis: 32%;
                // width: 400px;
            }

            .contact-text {
                width: 40%;
                font-size: 15px;

                p {
                    padding: 5px;
                }
            }

            .contact-sign {
                flex-basis: 100%;
                
    
                img {
                    left: 420px;
                }
            }

            address {
                flex-basis: 40%;
                top: 65px;
                right: -25px;

                p {
                    margin: 0;
                }
            }
        }

        .img-vertical {
            width: 300px;
        }
    }
}
