footer {
    background-color: #bab8b887;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 50px;
    width: 100%;
    // display: none;

    .footer-text {
        margin-left: 250px;
        font-family: 'Jura', sans-serif;
        color: #FFFFFF;
    }
}

@media (max-width: 400px) {
    footer {
        .footer-text {
            margin-left: 70px;
        }
    }
}