footer {
    background-color: #bab8b887;
    position: relative;
    display: flex;
    align-items: center;
    top: 386px;
    height: 50px;
}

.footer-text {
    margin-left: 250px;
    font-family: 'Jura', sans-serif;
    color: #FFFFFF;
}