nav {
    flex-basis: 70%;

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .nav-item {
            display: inline-block;
            padding: 30px; 
            
            a {
                color: #9C9C9C;
                font-family: $primary-font;
                font-size: 20px;
                font-weight: 300;
                transition: all 0.3s;
                text-decoration: none;

                &:hover {
                    color: $main-header-hover-color;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .main-header-container {
        nav {
            flex-basis: 60%;
        }
    
        .nav-item {
            padding: 5px;

            a {
                font-size: 18px;
            }
        }
    
        .social-link {
            font-size: 21px;
            flex-basis: 20%;
        }
    } 
}

@media (min-width: 400px) and (max-width: 576px) {
    .main-header-container {
        nav {
            flex-basis: 70%;
        }
    
        .nav-item {
            padding: 5px;
        }
    
        .social-links {
            flex-basis: 20%;

            .social-link {
                font-size: 21px;
            }
        }
    } 
}

@media (min-width: 577px) and (max-width: 768px) {
    .main-header-container {
        nav {
            flex-basis: 58%;

            .nav-item {
                padding: 15px;
            }
        }
     
        .social-links {
            flex-basis: 20%;

            .social-link {
                font-size: 25px;
                margin: 0 15px;
            }
        }
    } 
}

@media (min-width: 769px) and (max-width: 992px) {
    .main-header-container {
        nav {
            flex-basis: 58%;

            .nav-item {
                padding: 25px;
            }
        }
    }
}


