%frame {
    border: 8px double rgb(242, 239, 239);
    box-shadow: 0 0 10px rgb(150, 150, 150);
    transition: opacity .5s;

    &:hover {
        opacity: 0.5;
    }
}

.szkice {
   @extend %gallery;

   .close-szkice {
        @extend %close;
}
}

@media (max-width: 440px) {
    .szkice {
        .gallery-container {
            margin-top: 180px;

            header {
                p{
                   text-align: center; 
                }
            }
        }

        .img-horizontal {
            width: 300px;
        }
    
        .img-vertical {
            width: 300px;
        }
    }
}

@media (min-width: 441px) and (max-width: 1200px) {
    .szkice {
        .gallery-container {
            margin-top: 180px;

            .img-horizontal {
            width: 450px;
            }
    
            .img-vertical {
            width: 450px;
            } 
        }
    }
}