%frame {
    border: 8px double rgb(242, 239, 239);
    box-shadow: 0 0 10px rgb(150, 150, 150);
    transition: opacity .5s;

    &:hover {
        opacity: 0.5;
    }
}

.szkice {
    position: absolute;
    display: none;
    transition: opacity 1s;
    opacity: 0;

    &.switch-szkice-on {
        display: block;
    }

    &.switch-szkice-opacity {
        opacity: 1;
    }

    .img-horizontal {
        width: 500px;
    }

    .img-vertical {
        width: 300px;
    }

    %szkice-text {
        text-align: center;
        padding: 5px;
        font-family: $third-font;
        font-size: 16px;
    }

    .szkice-text-1 {
        @extend %szkice-text;
        font-weight: 600;
    }

    .szkice-text-2 {
        @extend %szkice-text;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .szkice-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 130px;
    
        header {
            flex-basis: 80%;
    
            p {
                font-family: $third-font;
                color: $secondary-font-color;
                font-size: 20px;
                padding-bottom: 10px;
            }
        }

        .szkice-picture {
             // flex-basis: 50%;
        
            .picture {
                @extend %frame;
            }

            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%; 
                overflow: auto; 
                background-color: rgb(0,0,0,0.9);  

                .close {
                    position: absolute;
                    right: 35px;
                    color: #f1f1f1;
                    font-size: 30px;
                    font-weight: bold;
                    transition: 0.3s;
    
                    &:hover {
                        color: #bbb;
                        cursor: pointer;
                    }
                }  
                
                .scale {
                    
                    .modal-content {
                        padding: 30px;
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 440px) {
    .szkice {
        .szkice-container {
            margin-top: 180px;

            header {
                p{
                   text-align: center; 
                }
            }
        }

        .img-horizontal {
            width: 300px;
        }
    
        .img-vertical {
            width: 300px;
        }
    }
}

@media (min-width: 441px) and (max-width: 1200px) {
    .szkice {
        .szkice-container {
            margin-top: 180px;

            .img-horizontal {
            width: 450px;
            }
    
            .img-vertical {
            width: 450px;
            } 
        }
    }
}